<nav>
    <ul class="menu">
            <li class="logo"><a href="#"><img src="<%= assetPath('logo.png') %>" alt="Logo" width="40" height="40"/></a></li>
            <li class="item"><a href="#"><%= admin.username%></a></li>
        <div class="options-alignment">
          <li class="item"><a href="<%= allUsersPath %>">Users</a></li>
          <li class="item"><a href="#">Comments</a></li>
          <li class="item"><a href="#">Publications</a></li>
          <li class="item"><a href="#">Reports</a></li>
          <li class="item"><a href="#">Logout</a></li>
        </div>
    </ul>
  </nav>

  <div class="grey-backround"></div>