@import './layout';
.box {
    color: black;
    background-color: white;
    border: 1px solid #63615e;
    padding: 4px 15px;
    border-radius: 10px;
    text-decoration: none;
    z-index: 1;
}
.round-pic {
    color: black;
    background-color: white;
    border: 1px solid #63615e;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
}


.box-feed {
    color: black;
    background-color: white;
    border-left: 1px solid #63615e;
    border-right: 1px solid #63615e;
    padding: 4px 15px;
    text-decoration: none;
    z-index: 1;
    height: 100%;
}

.box-separator {
    color: black;
    background-color: white;
    border-bottom: 1px solid #63615e;
    padding: 4px 15px;
    text-decoration: none;
    z-index: 1;
}
.insert-text {
    color: #63615e;
    background-color: #e7e4e0;
    border: 1px solid #63615e;
    padding: 4px 15px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 1;
}
.filler{
    background-color: transparent;
}
.alignment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alignment-admin{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.alignment-noposts{
    display: flex;
    align-items: center;
}
.alignment-cheffer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30%;
    align-items: center;
    flex-direction: column;
}
.alignment-button{
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
    align-items: center;
    flex-direction: column;
}
.field-alignment{
    display: flex;
    flex-direction: column;
}
.field-alignment-column-sp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.field-alignment-row-sp{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.field-alignment-row{
    display: flex;
    flex-direction: row;
}

.options-alignment {
    display: flex;
    align-items: center;
}

.search-alignment {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bandera {
    display:inline-block;
    vertical-align:top;
}

#recuadro {
    display:inline-block;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #6FCF97;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, 
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #6FCF97;
}