@import './layout';
@import './hello';
@import './boxes';
@import './navbar';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './darkmode';
* {
    font-family: 'Roboto', sans-serif;
}

.background1 {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
}

.background {
    width: 100vw;
    height: 100vh; 
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    } 



.nav
    {
    overflow: auto;
    }
.grey-backround{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    background-color: #d6d5d1;
}
.main {
    position: relative;
    z-index: 1;
}
header {
    position: relative;
    z-index: 1;
}
.sign-in-button{
        color: black;
        background-color: #f0ebe4;
        border: 1px solid #7c7469;
        padding: 4px 15px;
        border-radius: 5px;
        text-decoration: none;
        width: 200px;
        height: 100px;
        cursor: pointer;
        &:hover {
            background-color: white;
            color: black;
            transition: 0.3s;
        }	
}
.index-sign-in-button{
    color: black;
    background-color: #f0ebe4;
    border: 1px solid #7c7469;
    padding: 4px 15px;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }	
}

.submit-button {
    color: black;
    background-color: #ffffff;
    border: 1px solid #7c7469;
    padding: 4px 15px;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: rgb(97, 90, 90);
        transition: 0.3s;
    }	
}
.delete-button{
    color: black;
    background-color:rgb(235, 235, 235);
    border: 1px solid #6e6d6d;
    padding: 4px 15px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: #6e6d6d;
        transition: 0.3s;
    }	
}
.welcome {
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 1;
}

.button {
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #eb7a7a;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 50px;
    transition: all 0.5s;
    cursor: pointer;
    // margin: 5px;
  }
  .button1 {
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #474343;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 50px;
    transition: all 0.5s;
    cursor: pointer;
    // margin: 5px;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }