<div>
    <% if (locals.errors) { %>
        <div class="errors">
            You need to fix the following errors:
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.message %></li>
                    <% }); %>
            </ul>
        </div>
        <% } %>

    <form action="<%= submitCommentPath %>" method="POST">
        <% if (!comment.isNewRecord) { %>
        <input type="hidden" name="_method" value="PATCH">
        <% } %>
        <!-- <div class="field">
            <label for="userId">userId:</label>
            <input type="number" name="userId" id="userId" value="<%= comment.userId%>">
        </div>  -->
        <div class="field">
            <label for="description">Descripcion:</label>
            <input type="text" name="description" id="description" value="<%= comment.description %>">
        </div>
        <div class="field">
            <% if (comment.isNewRecord) { %>
            <input type="submit" value="Comment">
            <% } else { %>
            <input type="submit" value="Update Comment">
            <% } %>
        </div>
    </form>
</div>