<h2>Comments</h2>

<div>
    <% comments.forEach(comment => { %>
        <p><a href="<%= commentPath(comment) %>"><%= comment.description %> <%= comment.publicationId %></a></p>
    <% }); %>
</div>

<a href=" <%= newCommentPath %>" > New comment</a>