<h2>Nuevo Comentario</h2>

<form action="">
    <div class="field">
        <label for="publicationId">publicationId:</label>
        <input type="number" name="publicationId" id="publicationId" value="<%= comment.publicationId%>">
    </div>
    <div class="field">
        <label for="description">Descripcion:</label>
        <input type="text" name="description" id="description" value="<%= comment.description %>">
    </div>
    <div class="field">
        <input type="submit" value="Comentar">
    </div>
</form>