<a href="<%= publicationPath %>"> Back to Publication <%= publication.name %></a>

<h2>Edit Publication</h2>

<%- include("_form") %>

<form action="<%= deletePublicationPath %>" method="POST">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Publication">
</form>
