<h2>Publications</h2>
<p>Cantidad de Publications: <%= publications.length %></p>
<div>
    <% publications.forEach(publication => { %>
        <p><a href="<%= publicationPath(publication) %>"><%= publication.name %></a></p>
    <% }); %>
</div>
<% if (currentUser.id === user.id){ %>
    <a href=" <%= newPublicationPath %>" > New publication</a>
<% }%>  