<h2>Publications</h2>

<div>
    <% publications.forEach(publication => { %>
        <p><a href="<%= publicationPath(publication) %>"><%= publication.name %></a></p>
    <% }); %>
</div>

<a href=" <%= newPublicationPath %>" > New publication</a>