<h2>Nueva Publicacion</h2>

<form action="">
    <div class="field">
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" value="<%= publication.name %>">
    </div>
    <div class="field">
        <label for="ingredients">Ingredientes:</label>
        <input type="text" name="ingredients" id="ingredients">
    </div>
    <div class="field">
        <label for="time">Tiempo de preparacion:</label>
        <input type="number" name="time" id="time">
    </div>
    <div class="field">
        <label for="steps">Pasos a seguir:</label>
        <input type="text" name="steps" id="steps">
    </div>
    <div class="field">
        <label for="userId">UserId: </label>
        <input type="number" name="userId" id="userId">
    </div>
    <div class="field">
        <label for="description">Descripcion: </label>
        <input type="text" name="description" id="description">
    </div>
    <div class="field">
        <label for="ranking">Ranking: </label>
        <input type="number" name="ranking" id="ranking">
    </div>
    <div class="field">
        <label for="recipesPictures">Fotos de la receta </label>
        <input type="file" name="recipesPictures" id="recipesPictures">
    </div>
    <div class="field">
        <label for="recipesVideos">Videos de la receta </label>
        <input type="file" name="recipesVideos" id="recipesVideos">
    </div>
    <div class="field">
        <label for="stepsPictures">Fotos de los pasos </label>
        <input type="file" name="stepsPictures" id="stepsPictures">
    </div>
    <div class="field">
        <input type="submit" value="Crear Publicacion">
    </div>
    
    
</form>