<a href="<%= publicationsPath  %>"> Back to Publications</a>


<div>
    <h2><%= publication.name %></h2>
    <p>Description: <%= publication.description %></p>
    <p>Created At : <%= publication.createdAt %></p>
</div>