<div class="alignment-cheffer">
  <div class="main">
      <img class="welcome" src="<%= assetPath('cheffer-inicio.png') %>">
  </div>
</div>

<div class="alignment-button">
  <div class="main">
  <% if (currentUser) { %>
      <form action="<%= signOutPath %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Sign Out" />
      </form>
      <% } else { %>
        <a class="sign-in-button" href="<%= signInPath %>">Sign In</a>
      <% } %>
  </div> 
</div> 

<img class="background" src="<%= assetPath('background.jpg') %>">

</div>