<h1>Welcome to Cheffer</h1>
<p>
  App web version
  <%= appVersion %>
</p>
<div>
  <h3>For now you can go to: </h3>
  <ul>
  <a href="users"><li> Users </li></a>
</ul>
</div>
<div id="react-app">Here a React app will be rendered</div>
