<h1>Welcome to Cheffer</h1>
<p>
  App web version
  <%= appVersion %>
</p>
<div>
  <h3>For now you can go to: </h3>
  <ul>
  <a href="publications"><li> Publications</li> </a>
  <a href="comments"><li> Comments</li> </a>
  <a href="messages"> <li> Mesagges </li></a>
  <a href="users"><li> Users </li></a>
  <a href="reports"><li>Reports </li> </a>
</ul>
</div>
<div id="react-app">Here a React app will be rendered</div>
