<nav>
    <ul class="menu">
        <li class="logo"><a href="/"><img src="<%= assetPath('logo.png') %>" alt="Logo" width="50" height="50"/></a></li>
        <li class="item"><a href="#">Search</a></li>
        <li class="item"><a href="#">Notifications</a></li>
        <li class="item"><a href="#">Upload</a></li>
        <li class="item"><a href="#">Direct Messages</a></li>
        <li class="item"><a href="#">Profile</a></li>
        <li class="item"><a href="#">Edit</a></li>
    </ul>
</nav>



