<div class="main">
    <div class="alignment">
        <div id="bandera">
            <img src="<%= assetPath('bandera-lateral.png') %>" width="40" height="498">
        </div>
        <div id="recuadro">
            <div class="box">
                <h1 style="text-align:center"> <img src="<%= assetPath('cheffer-inicio.png') %>" width="100" height="50"></h1>
                <% if (locals.errors) { %>
                    <div class="errors">
                        <% if (errors == "A") { %>
                            <p> Incorrect Password </p>
                        <% } if (errors == "B") { %>
                            <p> Missing Fields </p>    
                        <% } if (errors == "C") { %>
                            <p> This email does not exist </p>
                            <% } %>
                    </div>
                <% } %>
                <form action="<%= createSessionPath %>" method="post">
                    <input type="hidden" name="_method" value="put" />
                    <div class = "field-alignment">
                        <label for="email">Email</label>
                        <input class="insert-text" type="email" name="email"  />
                        <label for="password">Password</label>
                        <input class="insert-text" type="password" name="password" />
                        <br>
                        <div class="field" style="text-align:center"> 
                            <input type="submit" name="sign-in" value="Sign In">
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="box">
                <p>Don't have an account? <a href="<%= createUserFormPath %>">Sign Up</a></p>
            </div>
        </div>
        <div class=filler></div>
    </div>
</div>
<div class="grey-backround"></div>
