<!-- <a href="<%= messagePath %>"> Back to Message <%= message.description %></a> -->



<%- include("_form") %>

<!-- <form action="<%= deleteMessagePath %>" method="POST">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Message">
</form> -->