<a href="<%= reportPath %>"> Back to Report <%= report.PublicationId %></a>

<h2>Edit Report</h2>

<%- include("_form") %>

<form action="<%= deleteReportPath %>" method="POST">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Report">
</form>