<h2>Reports</h2>

<p>Amount of Reports: <%= reports.length %></p>

<div>
    <% reports.forEach(report => { %>
        <p><a href="<%= reportPath(report) %>"><%= report.description %></a></p>
    <% }); %>
</div> 

<a href=" <%= newReportPath %>" > New Report</a>