

<div class="main">
  <div class="alignment">
      <div id="bandera">
          <img src="<%= assetPath('bandera-lateral.png') %>" width="40" max-height="99%">
      </div>
      <div id="recuadro">
        <div class="box">
        <h1>Get the calories API!</h1>
        <div class="line-clamp"><%= nd  %></div>
        
    </div>
    
      </div>
      <div class="filler"></div>
  </div>
</div>
